body {
    background: linear-gradient(to right, #2c2138, rgba(0, 0, 0, 1));
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .new:hover {
    box-shadow: #c6b0db 0px 0px 15px;
    transition: 0.2s;
  }
  .newImg {
    margin-right: 10px;
    background-color: #c6b0db;
    border-radius: 100px;
  }
  .newPrice {
    margin-left: auto;
    color: white;
  }
  .newButton:hover {
    background: #9882ac;
    color: #000000;
    transition: 0.5s;
    box-shadow: #9882ac 0px 0px 10px;
  }
  @media only screen and (max-width: 600px) {
    .new {
      display: block;
      text-align: center;
      padding: 30px;
    }
    .newTitle {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
    }
    .newButton {
      text-align: center;
      align-items: center;
      border: 1px solid;
      padding: 10px 30px;
      border-radius: 50px;
      border: none;
      transition: 0.5s;
      margin: 10px;
    }

    .title {
      font-size: 20px;
    }
  }