body {
    background: linear-gradient(to right, #2c2138, rgba(0, 0, 0, 1));
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .title {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 40px;
    text-align: center;
  }

  .news {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .new {
    background-color: #564364;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin: 13px;
    padding: 10px;
    transition: 0.2s;
    width: 90%;
  }
  .new:hover {
    box-shadow: #c6b0db 0px 0px 15px;
    transition: 0.2s;
  }
  .newTitle {
    background-color: #a393bf;
    margin-left: 10px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
  }

  .newImg {
    margin-right: 10px;
    background-color: #c6b0db;
    border-radius: 100px;
  }
  .newPrice {
    margin-left: auto;
    color: white;
  }
  .newButton:hover {
    background: #9882ac;
    color: #000000;
    transition: 0.5s;
    box-shadow: #9882ac 0px 0px 10px;
  }
  @media only screen and (max-width: 600px) {
    .new {
      display: block;
      text-align: center;
      padding: 30px;
    }
    .newTitle {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
    }
    .title {
      font-size: 20px;
    }
  }