

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.05);
    position: fixed;
    margin-top: -80px;
    z-index: 1;
    }

  nav h1 {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-left: 20px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-right: 50px;
  }

  nav li {
    width: 100px;
    padding: 10px 0px;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
    transition: 0.2s;
    font-weight: 700;
    color: white;
  }

  nav li:hover {
    transition: 0.2s;
    color: rgb(189, 83, 83);
  }

  nav button {
    background : rgb(189, 83, 83) ;
    padding : 6px 13px;
    border-radius : 5px;
    margin-top : -8px ;
    transition: 0.2s;
  }

  nav button:hover {
    transition: 0.2s;
    background-color: white;
  }

.coinInfo {
    backdrop-filter: blur(10px);
    background: rgba(244, 244, 244, 0.174);
    border-radius: 10px;
    text-shadow: 1px 1px 2px black;
}


.coin1 {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 20px;
    font-size: 25px;
    background-image: url('./imgs/name.jpg');
    background-size: 300px;
    transition : 0.2s;
    color: white;
}

.coin1:hover {
    background-size: 310px;
}

.coin2 {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 20px;
    font-size: 25px;
    background-image: url('./imgs/rank.jpg');
    background-size: 300px;
    transition : 0.2s;
    color: white;
}

.coin2:hover {
    background-size: 310px;
}

.coin3 {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 20px;
    font-size: 25px;
    background-image: url('./imgs/price.jpg');
    background-size: 300px;
    transition : 0.2s;
    color: white;
}

.coin3:hover {
    background-size: 310px;
}

.coinTitle {
    border-radius: 20px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(189, 83, 83);
}
.coinName {
    font-size: 25px;
    margin: 25px;
    font-weight: 900;

}
.coinRank {
    font-size: 25px;
    margin: 25px;
    font-weight: 900;
}
.coinPrice {
    font-size: 25px;
    margin: 20px 25px;
    font-weight: 900;
}

.coinChangePrice {
    font-size: 15px;
    margin-top: -20px;
}

.SinglebuyTitle {
    font-size: 30px;
    margin: 10px;
    margin-bottom: 30px;
}

.SinglebuySectionTitle {
    font-size: 15px;
    margin-left: 15px;
}

.Singlebuy {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.SinglebuyCard {
    width: 600px;
    height: 400;
    backdrop-filter: blur(15px);
    background: rgba(81, 150, 171, 0.2);
    color: white;
    border-radius: 20px;
    padding: 30px;
}

.SinglepayInp {
    width: 500px;
    margin: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-left: 15px;
    border-radius: 10px;
}

.SinglebuyButton {
    padding: 10px;
    border-radius: 10px;
    margin: 20px 10px;
    margin-left: 15px;
    width: 500px;
    text-align: center;
    background-color: rgb(189, 83, 83);
}

.SinglepayInp {
    padding: 10px;
}


.TopCoins {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
}

.TopCoincard1 {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    background-image: url('imgs/btc.jpg');
    background-size: 400px;
    transition:0.5s;
    border-radius: 20px;
    color: white;
}

.TopCoincard1:hover {
    background-size: 420px;
}



.TopCoincard2 {
    width: 400px;
    height: 200px;
    padding: 20px 20px;
    margin: 10px;
    background-image: url('imgs/eth.jpg');
    background-size: 400px;
    transition:0.5s;
    border-radius: 20px;
    color: white;
}

.TopCoincard2:hover {
    background-size: 420px;
}

.TopCoincard3 {
    width: 400px;
    height: 200px;
    padding: 20px 20px;
    margin: 10px;
    background-image: url('imgs/Tether.jpg');
    background-size: 400px;
    transition:0.5s;
    border-radius: 20px;
    color: white;
}

.TopCoincard3:hover {
    background-size: 420px;
}

.TopTitle {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}

.TopRank {
    font-size: 15px;
    color: black;
}

.TopPrice {
    color: rgb(0, 255, 13);
    font-size: 20px;
    font-weight: 600;
}

.TopChange {
}

@media only screen and (max-width: 700px) {


    .SinglebuyCard {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
        padding: 20px;
    }

    .SinglebuyTitle {
        font-size: 25px;
        margin: 10px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .SinglepayInp {
        width: 100%;
        margin: 5px;
        padding-left: 10px;
        margin-bottom: 30px;
        margin-left: 0px;
        padding: 10px;
    }

    .SinglebuyButton {
        padding: 10px;
        margin: 20px 10px;
        margin-left: 0px;
        width: 100%;
    }
  }