

.coin {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 20px;
    font-size: 25px;
    background: rgba(81, 150, 171, 0.3);
    transition : 0.2s;
}

.coinTitle {
    border-radius: 20px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #ea698b;
    font-weight: 900;
    color: white;
}
.coinName {
    color: aliceblue;
    font-size: 25px;
    margin: 25px;

}
.coinRank {
    font-size: 25px;
    color: aliceblue;
    margin: 25px;
}
.coinPrice {
    font-size: 30px;
    color: rgb(0, 255, 0);
    margin: 25px;
}

.SinglebuyTitle {
    font-size: 30px;
    margin: 10px;
    margin-bottom: 30px;
}

.SinglebuySectionTitle {
    font-size: 15px;
    margin-left: 15px;
}

.Singlebuy {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.SinglebuyCard {
    width: 600px;
    height: 400;
    background: rgba(81, 150, 171, 0.3);
    color: white;
    border-radius: 20px;
    padding: 30px;
    
}

.SinglepayInp {
    width: 500px;
    margin: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-left: 15px;
    border-radius: 10px;
}

.SinglebuyButton {
    padding: 10px;
    border-radius: 10px;
    margin: 20px 10px;
    margin-left: 15px;
    width: 500px;
    text-align: center;
    background-color: #ea698b;
}

.SinglepayInp {
    padding: 10px;
}


.TopCoins {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.TopCoincard1 {
    width: 400px;
    height: 200px;
    padding: 20px 20px;
    margin: 10px;
    background-image: url('imgs/btc.jpg');
    border-radius: 20px;
    color: white;
}

.TopCoincard2 {
    width: 400px;
    height: 200px;
    padding: 20px 20px;
    margin: 10px;
    background-image: url('imgs/eth.jpg');
    border-radius: 20px;
    color: white;
}

.TopCoincard3 {
    width: 400px;
    height: 200px;
    padding: 20px 20px;
    margin: 10px;
    background-image: url('imgs/Tether.jpg');
    background-size: cover;
    border-radius: 20px;
    color: white;
}

.TopTitle {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}

.TopRank {
    font-size: 15px;
    color: black;
}

.TopPrice {
    color: rgb(0, 255, 13);
    font-size: 20px;
    font-weight: 600;
}

.TopChange {
}

@media only screen and (max-width: 700px) {
    .coinPrice {
        font-size: 18px;
        color: rgb(0, 255, 13);
    }


    .SinglebuyCard {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
        padding: 20px;
    }

    .SinglebuyTitle {
        font-size: 25px;
        margin: 10px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .SinglepayInp {
        width: 100%;
        margin: 5px;
        padding-left: 10px;
        margin-bottom: 30px;
        margin-left: 0px;
        padding: 10px;
    }

    .SinglebuyButton {
        padding: 10px;
        margin: 20px 10px;
        margin-left: 0px;
        width: 100%;
    }
  }